.msg-top-bar {
  margin-top:-50px;
  overflow: hidden;
  background: #fff;
}
.msg-top-bar a{
	width:50%;
	text-align:center;
	height:50px;
	line-height:50px;
	font-size:18px;
	display: block;
	color:#000;
	float:left;
}
.msg-top-bar .active {
  color: #62b651;
  box-shadow: inset 0 -5px 0px #62b651;
  float: left;
}