body{
	background-color: rgb(237, 237, 237);
}

.forum-frame{
	padding: 0.313em 0.625em;
	margin-top:-40px;
	font-size:16px;
}

.forum-box{  
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 0.56em;
}

.forum-top{
	padding-left: 0.75em;
	padding-top: 0.75em;
}

.forum-icon-box{
  width: 42px;
  height: 42px;
}

.forum-top .user-name {
  height: 42px;
  line-height: 42px;
  text-indent: 0.75em;
  color: #3B3D42;
}

.forum-box .forum-content-text {
  padding: 0.75em;
}
.forum-top .forum-icon-box img {
  width: 42px;
  height:42px;
  border-radius: 21px;
  display: block;
}
.forum-box .forum-content-img {
  padding-bottom: 0.75em;
}

.forum-box .status-box {
  padding-left: 0.75em;
}

.status-box span {
  font-size: 0.625em;
  color: #969696;
  display: inline-block;
}
.forum-box .btns-group {
  height: 63px;
}

.forum-box .btns-group div{
	height:63px;
	width:63px;
}
.btns-group .icon-agree{
  background: url(http://www.qiushibaike.com//static/images/touch/laugh.png) center center no-repeat;
  background-size: 100%;	
}
.btns-group .icon-disagree{
  background: url(http://www.qiushibaike.com//static/images/touch/sad.png) center center no-repeat;
  background-size: 100%;	
}
.btns-group .icon-comment{
  background: url(http://www.qiushibaike.com//static/images/touch/touch_comment.png) center center no-repeat;
  background-size: 100%;	
}
.btns-group .icon-share {
  float: right;
  background: url(http://www.qiushibaike.com//static/images/touch/laugh.png) center center no-repeat;
  background-size: 100%;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
#totop i, #tocreat i {
  color: #A0D468;
  line-height: 40px;
  font-size: 33px;
}
#tocreat {
  position: fixed;
  bottom: 100px;
  right: 1.5%;
  display: none;
  z-index: 9999;
  background: transparent;
  border: 3px solid #A0D468;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  text-align: center;
}
#totop {
  position: fixed;
  bottom: 40px;
  right: 1.5%;
  display: none;
  z-index: 9999;
  background: transparent;
  border: 3px solid #A0D468;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  text-align: center;
}